body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: black; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-primary-light:#a27463;
  --color-primary:#795548;
  --color-primary-dark:#64463b;
  --color-primary-very-dark:#19120f;
  --color-secondary-dark:#ff3d00;
  --color-secondary:#FF5722;
  --color-secondary-light:#ffa488;
  --color-secondary-very-light:#fff2ee;
  --color-section-seperation:#fbf9f8;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 81.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-very-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.search {
  margin-right: 2rem;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 200px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__button {
    background-color: var(--color-grey-light-2);
    border: none; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }

.container .header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 2px solid var(--color-grey-light-2);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .container .header {
      border-bottom: none; } }
  .container .header .camera-container {
    display: flex;
    align-items: stretch;
    margin-left: 3rem; }
    .container .header .camera-container .heading__primary {
      align-self: center;
      color: var(--color-secondary);
      text-transform: uppercase;
      font-size: 1.8rem; }
    .container .header .camera-container .camera__icon {
      align-self: center;
      height: 5rem;
      width: 5rem;
      fill: var(--color-secondary);
      margin-right: 2rem; }

.container {
  max-width: 130rem;
  margin: 6rem auto;
  background-color: var(--color-secondary-very-light);
  box-shadow: var(--shadow-dark);
  min-height: 70rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }
  .container .content {
    display: flex; }
    @media only screen and (max-width: 75em) {
      .container .content {
        flex-direction: column; } }
    .container .content .sidebar {
      background-color: var(--color-primary-very-dark);
      color: #fff;
      flex: 0 0 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .container .content .sidebar .side-nav {
        font-size: 1.3rem;
        list-style-type: none;
        margin-top: 3.5rem; }
        @media only screen and (max-width: 75em) {
          .container .content .sidebar .side-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0; } }
        .container .content .sidebar .side-nav__item {
          position: relative; }
          .container .content .sidebar .side-nav__item:not(:last-child) {
            margin-bottom: .5rem; }
          @media only screen and (max-width: 75em) {
            .container .content .sidebar .side-nav__item {
              flex: 1;
              display: flex;
              justify-content: center; }
              .container .content .sidebar .side-nav__item:not(:last-child) {
                margin-bottom: 0; } }
        .container .content .sidebar .side-nav__item::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: var(--color-secondary);
          transform: scaleY(0);
          transform-origin: center;
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
        .container .content .sidebar .side-nav__item:hover::before {
          transform: scaleY(1);
          width: 100%; }
        .container .content .sidebar .side-nav__link:link, .container .content .sidebar .side-nav__link:visited, .container .content .sidebar .side-nav__linkhover, .container .content .sidebar .side-nav__linkactive {
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          padding: 1.5rem 3rem;
          color: white;
          position: relative;
          z-index: 1000; }
      .container .content .sidebar .legal {
        display: block;
        padding: 2rem;
        font-size: 1.3rem;
        text-align: center; }
        @media only screen and (max-width: 75em) {
          .container .content .sidebar .legal {
            display: none; } }
        .container .content .sidebar .legal__link:link, .container .content .sidebar .legal__link:visited, .container .content .sidebar .legal__link:active {
          display: block;
          text-decoration: none;
          color: white;
          transition: all .2s; }
        .container .content .sidebar .legal__link:hover {
          color: orangered; }
    .container .content .portfolio {
      flex: 1;
      display: flex;
      flex-wrap: wrap; }
      .container .content .portfolio .figure {
        flex: 0 0 30%;
        padding: 2rem;
        margin: 1rem auto; }
        .container .content .portfolio .figure__img {
          width: 100%;
          height: 100%;
          transition: all ease-in .1s; }
        .container .content .portfolio .figure__caption {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 1.5rem; }
          .container .content .portfolio .figure__caption .location-icon {
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--color-secondary);
            margin-right: 1rem; }
